@using ButikSite.Models
@model List<TblSatışlar>
@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<table class="table table-hover">
    <tr style="background-color:#140832;color:white">
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MÜŞTERİ</th>
        <th>FİYAT</th>
        <th>TARİH</th>
        <th>NOT</th>
        
        <th>İŞLEMLER</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.TblÜrünler.ÜrünAd</td>
            <td>@item.TblMüşteriler.Ad @item.TblMüşteriler.Soyad</td>
            <td>@item.Fiyat</td>
            <td>@item.Tarih</td>
            <td>@item.SiparişNot</td>
            
            @*<td>
                <a href="/Müşteriler/Sil/@item.Id" class="btn btn-danger" style="background-color:#4e1cce">Sil</a>
                <a href="/Müşteriler/Güncelle/@item.Id" class="btn btn-success" style="background-color:#2a0a7c">Güncelle</a>
            </td>*@
        </tr>

    }
</table>

